<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img class="logo" src="../assets/logo.jpg" />
        <menu>
            <a [routerLink]="['/inicio']">Inicio</a>
            <div
                style="width: auto; height: 40px; padding-left: 20px; padding-right: 20px; background: #F23B88; justify-content: center; align-items: center;display: flex">
                <a [routerLink]="['/buscar-vuelo']" style="color: #ffffff; font-weight: 550;">Buscar vuelo</a>
            </div>
            <a href="#">Promociones</a>
            <a [routerLink]="['/login']">Login</a>
        </menu>
        <div class="search">
            <form>
                <input type="text" value="Buscar">
                <input type="button" value="O" src="https://via.placeholder.com/35x35">
            </form>
        </div>
    </header>
    <router-outlet></router-outlet>
    <div *ngIf="mostrarContenido" class="ruta">
        <div class="titulo">Busca tu vuelo:</div>
        <div class="escogerRuta">
            <div class="tipoRuta">
                <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" id="ida" name="item">
                    <span class="informacion">Ida</span>
                </label>
                <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" id="vuelta" name="item">
                    <span class="informacion">Ida y vuelta</span>
                </label>
            </div>
            <div class="informacionRuta">
                <div class="item">
                    <div class="informacion">Origen:</div>
                </div>
                <div class="item">
                    <div class="informacion">Destino:</div>
                </div>
                <div class="item">
                    <div class="informacion">Fecha de salida:</div>
                </div>
                <div class="item">
                    <div class="informacion">Fecha de regreso:</div>
                </div>
                <div class="item">
                    <div class="informacion">Clase:</div>
                </div>
            </div>
            <form class="datosRuta" #rutaForm="ngForm" (ngSubmit)="getVuelos()">
                <div class="item">
                    <select class="origen" name="origen" #origen required>
                        <option value="" selected>Seleccionar origen</option>
                        <option value="Guayaquil">Guayaquil</option>
                        <option value="LagoAgrio">Lago Agrio</option>
                        <option value="Cuenca">Cuenca</option>
                        <option value="Quito">Quito</option>
                        <option value="Machala">Machala</option>
                        <option value="Otavalo">Otavalo</option>
                        <option value="LaTroncal">La Troncal</option>
                        <option value="Ibarra">Ibarra</option>
                        <option value="Galapagos">Galápagos</option>
                        <option value="Esmeraldas">Esmeraldas</option>
                    </select>
                </div>
                <div class="item">
                    <select class="destino" name="destino" #destino required>
                        <option value="" selected>Seleccionar destino</option>
                        <option value="Guayaquil">Guayaquil</option>
                        <option value="LagoAgrio">Lago Agrio</option>
                        <option value="Cuenca">Cuenca</option>
                        <option value="Quito">Quito</option>
                        <option value="Machala">Machala</option>
                        <option value="Otavalo">Otavalo</option>
                        <option value="LaTroncal">La Troncal</option>
                        <option value="Ibarra">Ibarra</option>
                        <option value="Galapagos">Galápagos</option>
                        <option value="Esmeraldas">Esmeraldas</option>
                    </select>
                </div>
                <div class="item">
                    <input type="date" class="fechaSalida" name="fechaSalida" #fechaSalida [min]="getCurrentDate()"
                        required>
                </div>
                <div class="item">
                    <input type="date" class="fechaRegreso" name="fechaRegreso" #fechaRegreso [min]="getCurrentDate()"
                        required>
                </div>
                <div class="item">
                    <select class="destino" name="destino" #destino required>
                        <option value="" selected>Seleccionar la clase</option>
                        <option value="Guayaquil">Turista</option>
                        <option value="LagoAgrio">Primera clase</option>
                    </select>
                </div>
                <input class="boton" type="submit" value="Buscar" [disabled]="!rutaForm.form.valid"
                    [ngClass]="{'disabled-button': !rutaForm.form.valid}" (click)="mostrarVuelos()">
            </form>
        </div>

        <div class="pasajero" *ngIf="mostrarSeccionPasajeros">
            <div class="informacionRuta">
                <div class="item">
                    <div class="titulo">Selecciona la edad de el/los pasajero/s:</div>
                </div>
            </div>
            <div class="item"><label for="menores2">Menores de 2 años:</label>
                <div>
                    <button class="signo" type="button" (click)="decrease('menores2')">-</button>
                    <input class="numero" type="number" id="menores2" name="menores2" min="0" max="10" value="0"
                        disabled>
                    <button class="signo" type="button" (click)="increase('menores2')">+</button>
                </div>

                <label for="entre2y25">Entre 2 años y 25 años:</label>
                <div>
                    <button class="signo" type="button" (click)="decrease('entre2y25')">-</button>
                    <input class="numero" type="number" id="entre2y25" name="entre2y25" min="0" max="10" value="0"
                        readonly>
                    <button class="signo" type="button" (click)="increase('entre2y25')">+</button>
                </div>

                <label for="entre25y65">Entre 25 y 65 años:</label>
                <div>
                    <button class="signo" type="button" (click)="decrease('entre25y65')">-</button>
                    <input class="numero" type="number" id="entre25y65" name="entre25y65" min="0" max="10" value="1"
                        readonly>
                    <button class="signo" type="button" (click)="increase('entre25y65')">+</button>
                </div>

                <label for="mayores65">Mayores de 65 años:</label>
                <div>
                    <button class="signo" type="button" (click)="decrease('mayores65')">-</button>
                    <input class="numero" type="number" id="mayores65" name="mayores65" min="0" max="10" value="0"
                        readonly>
                    <button class="signo" type="button" (click)="increase('mayores65')">+</button>
                </div>
            </div>
        </div>
        <div *ngIf="mostrarSeccionVuelos">
            <div class="titulo">Selecciona tu vuelo:</div>
            <div class="mostrarVuelos">
                <div class="vuelo">
                    <div class="infoVuelo">
                        <div class="rutaVuelo">Ruta</div>
                        <div class="duracion">Duración</div>
                        <div class="horaSalida">Hora de salida</div>
                        <div class="precio">Precio </div>
                        <div class="precio"></div>
                    </div>
                </div>
                <li class="vuelo" *ngFor="let vuelo of vuelos; let i = index">
                    <div class="infoVuelo">
                        <div class="aerolinea">{{vuelo.nombreAerolinea}}</div>
                    </div>
                    <div class="infoVuelo">
                        <div class="rutaVuelo">{{vuelo.origen}} -> {{vuelo.destino}}</div>
                        <div class="duracion">{{vuelo.duracionVuelo}} minutos</div>
                        <div class="horaSalida">{{vuelo.horaSalida}}:00h</div>
                        <div class="precio">${{vuelo.precio}}</div>
                        <input class="boton" type="submit" value="Seleccionar"
                            [ngClass]="{'disabled-button': vuelo.precio === 0}" (click)="selectFlight(i)"
                            (click)="mostrarPasajero()">
                        <div *ngIf="showSuccessAlert" class="alert alert-success">
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                Puede añadir maletas adicionales por cada pasajero(2 maletas de mano y una de 23 kilos)</div><br>
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                La  maleta de 23 kilos (costo 65 dólares) </div><br>
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                La  maleta de mano (costo 10 dólares)</div><br>
                            <div class=""><img style="width: 30px;" class="check" src="../assets/checkX.jpg" />
                                No puede escoger asientos.</div><br>
                        </div>
                        <div *ngIf="showSuccessAlert" class="alert alert-success">
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                Puede añadir maletas adicionales por cada pasajero(5 maletas de mano y una de 23 kilos)</div><br>
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                La  maleta de 23 kilos (costo 65 dólares) </div><br>
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                La  maleta de mano (costo 10 dólares)</div><br>
                            <div class=""><img style="width: 30px;" class="check" src="../assets/check.jpg" />
                                Si puede escoger asientos.</div><br>
                        </div>
                    </div>
                </li>
            </div>
        </div>

        <div *ngIf="mostrarInformacionPasajero">
            <li class="formulario" *ngFor="let i of getRange(cantidadPasajeros)">
                <form class="detalles" #pasajeroForm="ngForm" (ngSubmit)="guardarPasajero(pasajeroForm)">
                    <div class="titulo">Información del pasajero</div>
                    <div class="seccion">
                        <div class="informacion">Nombres completos</div>
                        <div *ngIf="pasajero" class="atributo">
                            <input type="text" id="nombres" name="nombres" #nombres [(ngModel)]="pasajero.nombres"
                                required>
                        </div>
                    </div>
                    <div class="seccion">
                        <div class="informacion">Apellidos completos</div>
                        <div *ngIf="pasajero" class="atributo">
                            <input type="text" id="apellidos" name="apellidos" #apellidos
                                [(ngModel)]="pasajero.apellidos" required>
                        </div>
                    </div>
                    <div class="seccion">
                        <div class="informacion">Fecha de nacimiento:</div>
                        <div *ngIf="pasajero" class="atributo">
                            <input type="date" class="fechaNacimiento" name="fechaNacimiento" #fechaNacimiento
                                [(ngModel)]="pasajero.fechaNacimiento" required>
                        </div>
                    </div>
                    <div class="seccion">
                        <div class="informacion">Cédula o pasaporte:</div>
                        <div *ngIf="pasajero" class="atributo">
                            <input type="number" id="cedula" name="cedula" #cedula [(ngModel)]="pasajero.cedula"
                                required>
                        </div>
                    </div>
                    <div class="seccion">
                        <input class="boton" type="submit" value="Guardar pasajero"
                            [disabled]="!pasajeroForm.form.valid"
                            [ngClass]="{'disabled-button': !pasajeroForm.form.valid}" (click)="mostrarPago()">
                    </div>
                </form>
            </li>
        </div>

        <div class="seccion">
            <input class="boton" type="submit" value="Realizar el pago" [disabled]="!mostrarBotonPago"
            [ngClass]="{'disabled-button': !mostrarBotonPago}">
        </div>
        <div class="seccion">
            <input class="boton" type="submit" value="Pagar a través de PAYPAL" [disabled]="!mostrarBotonPago"
            [ngClass]="{'disabled-button': !mostrarBotonPago}">
        </div>
        <div id = "MyPaypalButtons"></div>

        <div class="formulario">
            <form class="detalles" #usuarioForm="ngForm" (ngSubmit)="guardarUsuario(usuarioForm)">
                <div class="titulo">Información de contacto</div>
                <div class="seccion">
                    <div class="informacion">Nombre y apellido</div>
                    <div *ngIf="usuario" class="atributo">
                        <input type="text" id="nombreApellido" name="nombreApellido" #nombreApellido
                            [(ngModel)]="usuario.nombreApellido" required>
                    </div>
                </div>
                <div class="seccion">
                    <div class="informacion">Correo electronico</div>
                    <div *ngIf="usuario" class="atributo">
                        <input type="email" id="correo" name="correo" #correo [(ngModel)]="usuario.correo" required>
                    </div>
                </div>
                <div class="seccion">
                    <div class="informacion">Cédula o pasaporte:</div>
                    <div *ngIf="usuario" class="atributo">
                        <input type="number" id="cedula" name="cedula" #cedula [(ngModel)]="usuario.cedula" required>
                    </div>
                </div>
                <div class="seccion">
                    <div class="informacion">Teléfono celular</div>
                    <div *ngIf="usuario" class="atributo">
                        <input type="number" id="telefono" name="telefono" #telefono [(ngModel)]="usuario.telefono"
                            required>
                    </div>
                </div>
                <div class="seccion">
                    <input class="boton" type="submit" value="Guardar contacto" [disabled]="!usuarioForm.form.valid"
                        [ngClass]="{'disabled-button': !usuarioForm.form.valid}">
                </div>
            </form>
        </div>

    </div>


    <input class="cart-button" type="submit" value="" (click)="abrirCarrito()">
    <div class="carrito" *ngIf="mostrarSeccionCarrito">
        <div class="exit-button-container">
            <input class="exit-button" type="submit" (click)="exit()" value="X">
        </div>
        <div class="item">
            <div class="titulo">Vuelos reservados</div>
        </div>
        <li class="vuelo" *ngFor="let vuelo of vuelosReservados" class="vuelo">
            <div class="infoVuelo">
                <div class="duracion">{{vuelo.nombreAerolinea}}</div>
                <div class="rutaVuelo">{{vuelo.origen}} -> {{vuelo.destino}}</div>
                <div class="duracion">{{vuelo.fechaSalida}}</div>
            </div>
        </li>
    </div>
    <div class="resumenBoton" *ngIf="mostrarBotonResumen">
        <input class="boton" type="submit" value="Resumen" (click)="mostrarResumen()">
    </div>
    <div class="resumen" *ngIf="mostrarSeccionResumen">
        <div class="item">
            <div class="titulo">Informacion de los vuelos reservados</div>
        </div>
        <li class="vuelo" *ngFor="let vuelo of vuelosReservados">
            <br>
            <div class="">Usted ha reservado un boleto en la aereolínea {{vuelo.nombreAerolinea}}</div><br>
            <div class="">Con destino a {{vuelo.destino}} desde {{vuelo.origen}}</div><br>
            <div class="">Para el día {{vuelo.fechaSalida}} a las {{vuelo.horaSalida}}:00h</div><br>
            <div class="">Este viaje tiene una duración de {{vuelo.duracionVuelo}} minutos</div><br>
            <div class="">El costo total de este boleto es de ${{vuelo.precio}} dólares</div><br>
            <div class="">Y la cantidad de pasajeros es/son {{cantidadPasajeros}}</div><br>
        </li>
    </div>

</body>