<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    </script>
</head>

<body>
    <header>
        <img class="logo" src="../assets/logo.jpg" />
        <menu>
            <div
                style="width: auto; height: 40px; padding-left: 20px; padding-right: 20px; background: #F23B88; justify-content: center; align-items: center;display: flex">
                <a [routerLink]="['/inicio']" style="color: #ffffff; font-weight: 550;">Inicio</a>
            </div>
            <a [routerLink]="['/vuelos']">Vuelos</a>
            <a href="#">Promociones</a>
            <a href="#">Sign out</a>
            <a href="#">?</a>
        </menu>
        <div class="search">
            <form>
                <input type="text" value="Buscar">
                <input type="button" value="O" src="https://via.placeholder.com/35x35">
            </form>
        </div>
    </header>
    <div></div>
    <div class="ruta">
        <div class="titulo">Busca tu vuelo:</div>
        <div class="escogerRuta">
            <div class="tipoRuta">
                <label class="checkbox-item">
                  <input type="checkbox" class="checkbox-input" id="ida" name="item">
                  <span class="informacion">Ida</span>
                </label>
                <label class="checkbox-item">
                  <input type="checkbox" class="checkbox-input" id="vuelta" name="item">
                  <span class="informacion">Ida y vuelta</span>
                </label>
            </div>
            <div class="informacionRuta">
                <div class="item">
                    <div class="informacion">Origen:</div>
                </div>
                <div class="item">
                    <div class="informacion">Destino:</div>
                </div>
                <div class="item">
                    <div class="informacion">Fecha de salida:</div>
                </div>
                <div class="item">
                    <div class="informacion">Fecha de regreso:</div>
                </div>
            </div>
            <div class="datosRuta">
                <div class="item">
                    <img class="icon" src="https://via.placeholder.com/22x19" alt="Icono Salida">
                    <div class="text">Origen</div>
                </div>
                <div class="item">
                    <img class="icon" src="https://via.placeholder.com/21x19" alt="Icono Llegada">
                    <div class="text">Destino</div>
                </div>
                <div class="item">
                    <div class="color-box"></div>
                    <input type="date" class="fecha-salida" name="fecha-salida">
                </div>
                <div class="item">
                    <div class="color-box"></div>
                    <input type="date" class="fecha-regreso" name="fecha-regreso">
                </div>
            </div>
        </div>
    </div>
    <img class="fondo" src="../assets/fondo.jpg" />
</body>