* {
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

.boton {
    margin-top: 20px;
    width: 490px;
    color: white;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}