.formulario {
    height: auto;
    padding-bottom: 50px;
    padding-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
}

.titulo {
    color: #000000;
    font-size: 25px;
    font-family: Nunito Sans;
    word-wrap: break-word;
}

.detalles {
    width: 450px;
    height: auto;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
}

.atributo,
.atributo2,
.atributo3 {
    align-self: stretch;
    height: 40px;
    padding: 10px 20px;
    background: white;
    border: 0.50px #8CB4F1 solid;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.texto,
.atributo input[type="number"],
.atributo2 input[type="number"],
.atributo3 input[type="number"],
.aerolinea,
.origen,
.destino,
.salida,
.llegada {
    width: 400px;
    color: #ccc;
    border: none;
    font-size: 18px;
    font-family: Poppins;
    background: transparent;
    word-wrap: break-word;
    outline: none;
}

.atributo input[type="number"]:focus,
.atributo2 input[type="number"]:focus,
.atributo3 input[type="number"]:focus,
.aerolinea:focus,
.origen:focus,
.destino:focus,
.salida:focus,
.llegada:focus {
    color: #555;
    border: none;
}

.fecha-salida,
.fecha-regreso {
    width: 150px;
    border: none;
    font-size: 16px;
    outline: none;
}

.textoFecha {
    width: 250px;
    color: #ccc;
    border: none;
    font-size: 18px;
    font-family: Poppins;
    background: transparent;
    word-wrap: break-word;
    outline: none;
}

.button {
    width: 450px;
    height: 48px;
    margin: 0 auto;
    background: #F23B88;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 400;
    cursor: pointer;
}

.button a {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word
}