<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.querySelector('.search input[type="text"]');
            const searchInput1 = document.querySelector('.atributo input[type="number"]');
            const searchInput2 = document.querySelector('.atributo2 input[type="number"]');
            const searchInput3 = document.querySelector('.atributo3 input[type="number"]');
            searchInput.addEventListener("focus", function () {
                if (searchInput.value === "Buscar") {
                    searchInput.value = "";
                }
            });
            searchInput.addEventListener("blur", function () {
                if (searchInput.value.trim() === "") {
                    searchInput.value = "Buscar";
                } else {
                    searchInput.value = "Buscar";
                }
            });
            searchInput1.addEventListener("focus", function () {
                if (searchInput1.value === "Duración del vuelo en minutos") {
                    searchInput1.value = "";
                }
            });
            searchInput2.addEventListener("focus", function () {
                if (searchInput2.value === "Número de asientos") {
                    searchInput2.value = "";
                }
            });
            searchInput3.addEventListener("focus", function () {
                if (searchInput3.value === "Precio en dólares") {
                    searchInput3.value = "";
                }
            });


            const selectSalida = document.querySelector(".salida");
            const selectLlegada = document.querySelector(".llegada");
            for (let i = 1; i <= 24; i++) {
                const option = document.createElement("option");
                option.value = i;
                option.textContent = i;
                selectSalida.appendChild(option);
                selectLlegada.appendChild(option);
            }
        });
    </script>
</head>

<body>
    <header>
        <img class="logo" src="../assets/logo.jpg" />
        <menu>
            <a [routerLink]="['/inicio']">Inicio</a>
            <div
                style="width: auto; height: 100%; padding-left: 20px; padding-right: 20px; background: #F23B88; justify-content: center; align-items: center;display: flex">
                <a [routerLink]="['/vuelos']" style="color: #ffffff; font-weight: 550;">Vuelos</a>
            </div>
            <a href="#">Promociones</a>
            <a href="#">Sign out</a>
            <a href="#">?</a>
        </menu>
        <div class="search">
            <form>
                <input type="text" value="Buscar">
                <input type="button" value="O" src="https://via.placeholder.com/35x35">
            </form>
        </div>
    </header>
    <div class="formulario">
        <div class="titulo">DATOS DEL VUELO</div>
        <div class="detalles">
            <div class="atributo">
                <select class="aerolinea" name="aerolinea">
                    <option value="" selected>Seleccionar aerolínea</option>
                    <option value="">Avianca</option>
                    <option value="">LATAM</option>
                    <option value="">KLM</option>
                </select>
            </div>
            <div class="atributo">
                <select class="origen" name="origen">
                    <option value="" selected>Seleccionar origen</option>
                    <option value="">Guayaquil</option>
                    <option value="">Lago Agrio</option>
                    <option value="">Cuenca</option>
                    <option value="">Quito</option>
                    <option value="">Machala</option>
                    <option value="">Otavalo</option>
                    <option value="">La Troncal</option>
                    <option value="">Ibarra</option>
                    <option value="">Galápagos</option>
                    <option value="">Esmeraldas</option>
                </select>
            </div>
            <div class="atributo">
                <select class="destino" name="destino">
                    <option value="" selected>Seleccionar destino</option>
                    <option value="">Guayaquil</option>
                    <option value="">Lago Agrio</option>
                    <option value="">Cuenca</option>
                    <option value="">Quito</option>
                    <option value="">Machala</option>
                    <option value="">Otavalo</option>
                    <option value="">La Troncal</option>
                    <option value="">Ibarra</option>
                    <option value="">Galápagos</option>
                    <option value="">Esmeraldas</option>
                </select>
            </div>
            <div class="atributo">
                <div class="textoFecha">Fecha de salida</div>
                <input type="date" class="fecha-salida" name="fecha-salida">
            </div>
            
            <div class="atributo">
                <div class="textoFecha">Fecha de regreso</div>
                <input type="date" class="fecha-regreso" name="fecha-regreso">
            </div>            
            <div class="atributo">
                <select class="salida" name="salida">
                    <option value="" selected>Seleccionar hora de salida</option>
                </select>
            </div>
            <div class="atributo">
                <select class="llegada" name="llegada">
                    <option value="" selected>Seleccionar hora de llegada</option>
                </select>
            </div>
            <div class="atributo">
                <input type="number" value="Duración del vuelo en minutos">
            </div>
            <div class="atributo2">
                <input type="number" value="Número de asientos">
            </div>
            <div class="atributo3">
                <input type="number" value="Precio en dólares">
            </div>
        </div>
    </div>
    <div class="button">
        <a href="#">Guardar</a>
    </div>
</body>
