.formulario {
    height: auto;
    padding-bottom: 50px;
    padding-top: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
}

.titulo {
    color: #000000;
    font-size: 25px;
    font-family: Nunito Sans;
    text-shadow: 3px 3px 5px rgba(126, 138, 162, 0.5);
    padding-bottom: 50px;
}

.detalles {
    width: 450px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
}

.atributo,
.atributo2,
.atributo3 {
    align-self: stretch;
    height: 40px;
    padding: 10px 20px;
    background: white;
    border: 0.50px #8CB4F1 solid;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.texto,
.atributo input[type="number"],
.atributo2 input[type="number"],
.atributo3 input[type="number"],
.aerolinea,
.origen,
.destino,
.salida,
.llegada {
    width: 400px;
    color: #ccc;
    border: none;
    font-size: 18px;
    font-family: Poppins;
    background: transparent;
    word-wrap: break-word;
    outline: none;
}

.atributo input[type="number"]:focus,
.atributo2 input[type="number"]:focus,
.atributo3 input[type="number"]:focus,
.aerolinea:focus,
.origen:focus,
.destino:focus,
.salida:focus,
.llegada:focus {
    color: #555;
    border: none;
}

.fecha-salida,
.fecha-regreso {
    width: 150px;
    border: none;
    font-size: 16px;
    outline: none;
}

.textoFecha {
    width: 250px;
    color: #ccc;
    border: none;
    font-size: 18px;
    font-family: Poppins;
    background: transparent;
    word-wrap: break-word;
    outline: none;
}