<body>
    <header>
        <menu>
            
            <a [routerLink]="['/inicio']">Inicio</a>

            <a [routerLink]="['/buscar-vuelo']">Buscar vuelos</a>
            <div
            style="width: auto; height: 40px; padding-left: 20px; padding-right: 20px; background: #F23B88; justify-content: center; align-items: center;display: flex">
            <a [routerLink]="['/promociones']" style="color: #ffffff; font-weight: 550;">Promociones</a>
        </div>

            <a [routerLink]="['/login']">Login</a>
        </menu>
    </header>

    <section class="wrap">
        <section id="info">
            <div id="banner">
         
            </div>
            <div class="clearfix"></div>
            <!-- Tarjetas -->
            <div id="cards">
                <h1>Nuestras recomendaciones</h1>
                <div class="clearfix"></div>

                <div class="card">
                    <img src="../assets/Cuenca.jpg" alt="Moda">
                    <p class="description">Cuenca es una ciudad de las montañas andinas del sur de Ecuador. Es conocida
                        por la ribera del río Tomebamba y las artesanías, incluidos los sombreros Panamá. Su plaza
                        central, el Parque Calderón, alberga la Catedral Nueva con su domo azul y la Catedral Vieja del
                        siglo XVI, que actualmente es un museo religioso. El Museo y Parque Arqueológico Pumapungo
                        exhibe ruinas y artefactos de la ciudad inca de Tomebamba. ― Google
                        Tiempo: 9°C, viento del N a 5 km/h, humedad del 75 %</p>
                </div>
                <div class="card">
                    <img src="../assets/Guayaquil.jpg" alt="Moda">
                    <p>Guayaquil es una ciudad portuaria de Ecuador, conocida como la puerta de acceso a las playas del
                        Pacífico y a las Islas Galápagos. A lo largo del río Guayas se extiende el malecón Simón
                        Bolívar, donde está el monumento La Rotonda. En el norte, el barrio Las Peñas está lleno de
                        casas coloridas. Las escaleras bordeadas de cafés y galerías de arte llegan hasta el cerro Santa
                        Ana que incluye la capilla de Santa Ana, un faro y vistas de la ciudad. ― Google
                        Tiempo: 23°C, viento del SO a 14 km/h, humedad del 83 %</p>
                </div>

                <div class="card">
                    <img src="../assets/Otavalo.jpg" alt="Moda">
                    <p>Otavalo es una ciudad en el altiplano andino de la provincia de Imbabura, al norte de Ecuador.
                        Está rodeada de volcanes, como el volcán Imbabura. Es conocida por su mercado de Otavalo en la
                        central Plaza de Ponchos, donde los lugareños vestidos con ropa indígena tradicional venden
                        textiles coloridos y artesanías. Muy cerca se encuentra el Museo Tejidos El Obraje, que muestra
                        exposiciones textiles y demostraciones de tejido.
                        Población: 39,354 (2010)
                        Elevación: 2,532 m
                        Tiempo: 6°C, viento del E a 6 km/h, humedad del 78 %</p>
                </div>

                <div class="card">
                    <img src="../assets/LagoAgrio.jpg" alt="Moda">
                    <p>El cantón Lago Agrio cuenta con un aeropuerto remodelado recientemente de una longitud de pista
                        de 2.303 m; y un ancho de 45 m. También cuenta con un taxi way (corredor de recorrido) de 1.500
                        m por un ancho de 30 m, siendo esta pista la segunda más extensa de la Amazonía. En este
                        aeropuerto operan las compañías Tame y VIP con frecuencias diarias. Posee una terminal terrestre
                        con destinos operados por las siguientes compañías: Baños, Esmeraldas, Jumandi, San Cristóbal,
                        Valle del Chota, Carlos Aray, Zaracay, Occidental, Putumayo, Loja y Petrolera Shushufindi.En
                        Nueva Loja se perforó el primer pozo petrolero en la Amazonía (Lago Agrio-1). Es por este motivo
                        que se la conoce como la capital petrolera de Ecuador. La ciudad se ha transformado
                        considerablemente en estas últimas 4 décadas.
                        En Nueva Loja se perforó el primer pozo petrolero en la Amazonía (Lago Agrio-1). Es por este
                        motivo que se la conoce como la capital petrolera de Ecuador. La ciudad se ha transformado
                        considerablemente en estas últimas 4 décadas.</p>
                </div>
                <div class="card">
                    <img src="../assets/troncal.jpg" alt="Moda">
                    <p>La Troncal es una localidad situada al centro sur de Ecuador. Geográficamente se localiza en la
                        llanura de los Andes, con una altura de 140 m s. n. m. y una temperatura privilegiada que oscila
                        entre los 18 °C y 24 °C. Cuenta con importantes recursos naturales, como ríos, cascadas,
                        montañas y las conocidas aguas termales, muy concurridas por los turistas que llegan en busca de
                        relax y entretenimiento. Su principal actividad económica es la agricultura, especialmente de
                        caña de azúcar; así como el comercio, la artesanía y el turismo ecológico en menor escala</p>
                </div>

                <div class="card">
                    <img src="../assets/Machala.jpg" alt="Moda">
                    <p>Machala, capital de la Provincia de El Oro, es un cantón agrícola productivo y con un gran
                        movimiento comercial, constituyéndose en el polo económico del sur ecuatoriano. Sus pobladores
                        se dedican a la actividad bananera, por ello es reconocida internacionalmente como “Capital
                        Bananera del mundo”. La siembra y cosecha de camarón es otra de las actividades productivas. Su
                        población se dedica en su mayoría a la actividad agrícola, industrial y portuaria, por ello es
                        reconocida internacionalmente como “Capital Bananera del mundo”. La ciudad es el centro
                        político, financiero y económico de la provincia, y uno de los principales del país, alberga
                        grandes organismos culturales, financieros, administrativos y comerciales. Es conocida como la
                        Capital Mundial del Banano, porque desde allí a través del Puerto Bolívar se exporta esta
                        preciada fruta a todo el mundo.</p>
                </div>

            </div>
        </section>
    </section>
</body>