/* You can add global styles to this file, and also import other style files */
/* Estilos generales */
* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clearfix {
    float: none;
    clear: both;
}

header {
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 4.6%;
    display: flex;
    position: fixed;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}

menu {
    width: auto;
    height: 100%;
    margin-left: 100px;
    margin-right: 60px;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    display: flex;
}

header a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 300;
    word-wrap: break-word
}

.logo {
    width: 221px;
    border-radius: 11px
}

.search {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 2px rgb(247, 247, 248) solid;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search input[type="text"] {
    width: 156px;
    height: 35px;
    border: none;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 300;
    padding-left: 5px;
    border-radius: 5px;
    background: transparent;
    color: #ccc;
    transition: all 300ms;
    outline: none;
}

.search input[type="text"]:focus,
.atributo input[type="number"]:focus,
.atributo2 input[type="number"]:focus,
.atributo3 input[type="number"]:focus,
.aerolinea:focus,
.origen:focus,
.destino:focus,
.salida:focus,
.llegada:focus {
    color: #555;
    border: none;
}

.search input[type="button"] {
    width: 35px;
    height: 37px;
}

.hide-text {
    display: none;
}